@model Vidly.ViewModels.MovieFormViewModel

@{
    ViewBag.Title = @Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    
    <h2>@Model.Title</h2>


@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(i => i.Name)
        @Html.TextBoxFor(i => i.Name, new {@class = "form-control"})
        @Html.ValidationMessageFor(i => i.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.ReleaseDate)
        @Html.TextBoxFor(i => i.ReleaseDate, "{0:d MMM yyyy}", new {@class = "form-control"})
        @Html.ValidationMessageFor(i => i.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.GenreId)
        @Html.DropDownListFor(i => i.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre",  new {@class = "form-control"})
        @Html.ValidationMessageFor(i => i.GenreId)
    </div>
    <div class="form-group">
        @Html.LabelFor(i => i.NumInStock)
        @Html.TextBoxFor(i => i.NumInStock, new {@class = "form-control"})
        @Html.ValidationMessageFor(i => i.NumInStock)
    </div>
    
    @Html.HiddenFor(i => i.Id)
    @Html.AntiForgeryToken()
    
    <button type="submit" class="btn btn-primary">SAVE</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
